/* AnchorPane */
.root {
    -fx-background-color: lightsteelblue; /* Couleur de fond */
}

/* VBox */
.vbox {
    -fx-spacing: 10.0; /* Espacement entre les éléments */
}

/* Buttons */
.button {
    -fx-background-color: dodgerblue; /* Couleur de fond */
    -fx-text-fill: white; /* Couleur du texte */
}

/* TextField */
.text-field {
    -fx-prompt-text-fill: #0000FF; /* Couleur du texte de rappel */
}

/* ComboBox */
.combo-box {
    -fx-background-color: #ffffff; /* Couleur de fond */
}

/* ListView */
.list-view {
    -fx-background-color: skyblue; /* Couleur de fond */
}

/* ImageView */
.image-view {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0, 0, 0); /* Effet d'ombre portée */
}
/* Ajout des styles pour la ListView */
.list-view .list-cell:odd {
    -fx-background-color: white; /* Couleur de fond pour les lignes impaires */
}

.list-view .list-cell:even {
    -fx-background-color: #8f8; /* Couleur de fond pour les lignes paires */
}

.list-view .list-cell:filled:selected:focused,
.list-view .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#333 0%, #777 25%, #aaa 75%, #eee 100%); /* Couleur de fond pour les éléments sélectionnés */
    -fx-text-fill: white; /* Couleur du texte pour les éléments sélectionnés */
}

.list-view .list-cell {
    -fx-text-fill: black; /* Couleur du texte par défaut */
}

.list-view .list-cell:filled:hover {
    -fx-background-color: #00f; /* Couleur de fond au survol */
    -fx-text-fill: white; /* Couleur du texte au survol */
}
